body
{
    margin: 0;
    padding: 0;
    font-family: 'Gudea', sans-serif;
    background-color: #282C34;
}

/* Header */

header
{
    width: 100vw;
    height: 100px;
    background-color: #20232A;
}

h1
{
    color: #FFFFFF;
    margin-left: 50px;
}

li
{
    list-style: none;
}

ul
{
    color: #FFFFFF;
    transition: ease 0.5s;
}

ul:hover
{
    color: #61DAFB;
    transition: ease 0.5s;
    cursor: pointer;
}

.header-ctnr
{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* Main */

.une-section
{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.une-ctnr
{
    width: 60%;
}

h2
{
    color: #FFFFFF;
}

.bloc-une-ctnr
{
    width: 80%;
    height: 100%;
    background-color: #FFFFFF;
    border-radius: 5px;
}

.article-une-ctnr
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.img-une
{
    width: 30%;
    height: 60%;
    border: 1px solid #20232A;
}

.h3-p-ctnr
{
    width: 50%;
    height: 60%;
}

.h3-p-ctnr h3
{
    color: #61DAFB;
}

.h3-p-ctnr p
{
    color: #282C34;
}

.h3-p-ctnr input
{
    background-color: #FFFFFF;
    color: #61DAFB;
    width: 100px;
    height: 30px;
    margin-left: 60%;
    border-radius: 5px;
    border: 1px solid;
    transition: ease 0.5s;
}

.h3-p-ctnr input:hover
{
    background-color: #61DAFB;
    color: #FFFFFF;
    transition: ease 0.5s;
    cursor: pointer;
}

/*Seconde parti*/

.seconde-section
{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    border: 1px solid white;
}

.seconde-ctnr
{
    width: 10%;
}

.bloc-deux-ctnr
{
    width: 90%;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid white;
}

.article-deux-ctnr
{
    width: 32%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 5px;
}

